
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- ▼▼▼ scriptタグを自由に追加することができます。 -->
    <!-- ▲▲▲ scriptタグを自由に追加することができます。 -->
    <script>
        const getHeartbeatUrl = "<%= getHeartbeatUrl %>"
        // 引数の設定値：
        //     deviceID：デバイスID,
        //     reloadTime：データ更新頻度(ms),
        //     restingHeartRate：安静時心拍数(bpm),
        //     viewEjsName：心拍数表示ページのレイアウトファイル,
        //     custom：カスタム設定
        const settings = <%- settings %>
        <%- script %>

        // ▼▼▼ 心拍数取得時の処理を定義できます。
        // 心拍数取得時に「updatePage()」がコールされるため、処理を記入してください。(上記に書いてある設定値も利用できます)
        // 引数：(心拍数, 心拍数の値更新時間)
        function updatePage(heartbeat, datetime){
            document.getElementById('heartbeat').innerHTML = heartbeat
        }
        // ▲▲▲ 心拍数取得時の処理を定義できます。
    </script>
</head>

<body>
    <!-- ▼▼▼ htmlを自由に記述することができます。 -->
    <p id="heartbeat" class="heartbeat"></p>
    <!-- ▲▲▲ htmlを自由に記述することができます。 -->
</body>

<style>
    /* ▼▼▼ cssを自由に記述することができます。 */
    .heartbeat {
        font-size: 30vw;
        color: navy;
        margin: 0px;
    }
    /* ▲▲▲ cssを自由に記述することができます。 */
</style>

</html>