
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        const reloadTime = <%= reloadTime %>
        const getHeartbeatUrl = "<%= getHeartbeatUrl %>"
        <%- script %>

        // ここから心拍数取得時の処理を定義できます。
        // 心拍数取得時に「updatePage()」がコールされるため、処理を記入してください。
        // （引数は心拍数のデータが入力されます。）
        function updatePage(heartbeat){
            document.getElementById('heartbeat').innerHTML = heartbeat
        }
    </script>
</head>

<body>
    <!-- 以下にhtmlを自由に記述することができます。 -->
    <div id="heartbeat"></div>
</body>

</html>