<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <a href="<%= settingUrl %>">設定ページ</a><br/>
    <a href="<%= heartViewUrl %>">心拍数表示ページのプレビュー</a>
</body>

</html>